<div id="cookies-advise" class="cookies">
  <div class="cookies_content">
    <p>
      Utilizamos cookies propias y de terceros para mejorar tu experiencia y nuestros servicios, analizando la navegación en nuestro sitio web. Si continuúas navegando, consideramos que aceptas su uso. Puedes obtener más información en nuestra <a rel="noreferrer" href="{{page.origin_url}}/politica-cookies.html" target="_blank">política de cookies</a>
    </p>
    <button class="btn btn--secondary" type="button">Aceptar</button>
  </div>
</div>
