<div class="u-rotate-2deg u-marg-60--bottom">
  <h3 class="heading-3 u-marg-20--bottom">Aptitudes y conocimientos</h3>
  <ul class="list-pipe heading-4 u-color-main">
    <li>Media Relations</li>
    <li>Online Journalism</li>
    <li>New Media</li>
    <li>Magazines</li>
    <li>Spanish</li>
    <li>Journalism</li>
    <li>Online Advertising</li>
    <li>Corporate Communications</li>
    <li>Community Management</li>
    <li>SEO</li>
    <li>Social Media</li>
    <li>English</li>
    <li>Politics</li>
    <li>Stock Market</li>
    <li>Economy</li>
    <li>Money Market</li>
    <li>Banking</li>
  </ul>
</div>

<div class="grid-cv">
  <div>
    <h3 class="heading-3 u-marg-20--bottom">Experiencia profesional</h3>
    <div class="u-flex">
      <div class="u-marg-10--right pbc-icon pbc-icon--w48 pbc-icon--color-main">
        {% include icons/pbc-icon_typewriter.svg %}
      </div>
      <ul class="heading-4 list-simple">
        <li>
          <strong>La Vanguardia</strong> Business and Financial contributor
          <div><i>Nov 2012/Actualidad</i></div>
        </li>

        <li>
          <strong>El Diario.es</strong> Business and Financial contributor
          <div><i>Nov 2012/2017</i></div>
        </li>

        <li>
          <strong>SModa</strong> ElPaís Business contributor
          <div><i>Mar 2014/Actualidad</i></div>
        </li>

        <li>
          <strong>Financial Red & Bolsa.com</strong> Content manager
          <div><i>Apr 2012/Feb 2013</i></div>
        </li>

        <li>
          <strong>Público</strong> Business and Financial Staff writer
          <div><i>Jul 2009/Mar 2012</i></div>
        </li>

        <li>
          <strong>Bolsacinco.com</strong> Editor in chief
          <div><i>Sep 2008/Feb 2009</i></div>
        </li>

        <li>
          <strong>El Economista, Emprendedores, XL El Semanal, Muy Interesante</strong> Business Reporter
          <div><i>Jan 2008/Sep 2008</i></div>
        </li>

        <li>
          <strong>Revista Capital</strong> Director Assistant
          <div><i>Jun 2000/Dec 2007</i></div>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3 class="heading-3 u-marg-20--bottom">Educación</h3>
    <div class="u-flex">
      <div class="u-marg-10--right pbc-icon pbc-icon--w48 pbc-icon--color-main">
        {% include icons/pbc-icon_bachelor.svg %}
      </div>
      <ul class="heading-4 list-simple">
        <li>
          <strong>Master Business Information</strong> Univ. Complutense Madrid.
          <i>1997-1998</i>
        </li>

        <li>
          <strong>Master en Public Relations</strong> Univ. Complutense Madrid
          <i>1997</i>
        </li>

        <li>
          <strong>Bachelor of Journalism</strong> Univ. Complutense Madrid
          <i>1991-1996</i>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3 class="heading-3 u-marg-20--bottom">Reconocimientos</h3>
    <div class="u-flex">
      <div class="u-marg-10--right pbc-icon pbc-icon--w48 pbc-icon--color-main">
          {% include icons/pbc-icon_badge.svg %}
        </div>

        <ul class="heading-4 list-simple">
          <li>
            <strong>Finalista Premio Schroders de Periodismo Financiero</strong>
            <i>2006</i>
            <figure>
              <img class="grid-cv__image-clipped" src="/assets/img/Pilar_Blazquez_premio_Schroders.jpg" alt="" />
              <figcaption class="u-rotate-2deg size-small">Pilar Blázquez recoge el premio Schroders del año 2006</figcaption>
            </figure>
          </li>
        </ul>
    </div>
  </div>
</div>
