<footer class="mainfooter">
  <small class="u-color-white">Esta web pertenece a Pilar Blázquez Correas. Puedes contactar a través de:</small>
  <ul class="u-flex u-flex--centerh u-marg-10--top">
    <li>
      <a href="{{ site.linkedin }}" target="_blank" title="Ver perfil en Twitter">
        <div class="u-marg-10--lr pbc-icon pbc-icon--color-white pbc-icon--w32">
          {% include icons/pbc-icon_linkedin.svg %}
        </div>
      </a>
    </li>
    <li>
      <a href="{{ site.twitter }}" target="_blank" title="Ver perfil en Linkedin">
        <div class="u-marg-10--lr pbc-icon pbc-icon--color-white pbc-icon--w32">
          {% include icons/pbc-icon_twitter.svg %}
        </div>
      </a>
    </li>
  </ul>
</footer>
