<footer class="mainfooter">
  <ul class="legal-links">
    {%- for item in site.data.footer-links -%}
    <li><a href="{{ site.url }}/legal/{{ item.link }}">{{item.name}}</a></li>
    {%- endfor %}
  </ul>
</footer>

<div id="cookies" class="cookies">
  <div class="cookies_content">
    <p>
      Utilizamos cookies propias y de terceros para mejorar tu experiencia y nuestros servicios, analizando la navegación en nuestro sitio web. Si continuúas navegando, consideramos que aceptas su uso. Puedes obtener más información en nuestra <a href="/legal/politica-cookies.html">política de cookies</a>
    </p>
    <button class="ipdbtn ipdbtn--white ipdbtn--small" type="button">Aceptar</button>
  </div>
</div>

<script src="/assets/js/scripts.js"></script>
