  <meta name="author" content="Lorem">
  <meta name="description" content="lorem">
  <meta name="keywords" content="keywords">

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Página web de Lorem">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="https://lorem.com/assets/img/placeholder.jpg">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://lorem.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Página web de Lorem">
  <meta property="og:description" content="lorem">
  <meta property="og:image" content="https://lorem.com/assets/img/placeholder.jpg">
  <meta property="og:image:secure_url" content="https://lorem.com/assets/img/placeholder.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Página web de Lorem">
  <meta name="twitter:description" content="lorem">
  <meta name="twitter:image" content="https://lorem.com/assets/img/placeholder.jpg">

  <meta name="theme-color" content="#ffffff">
