:root {
  //colors: https://coolors.co/32292f-99e1d9-f0f7f4-70abaf-705d56
  --color-black:  #424242;
  --color-white:  #ffffff;
  --color-green:  #88B12F;
  --color-purple: #805582;
  --color-ocre:   #FFA513;

  --color-main: var(--color-purple);
  --color-secondary: var(--color-ocre);

  //font size:
  --base-size:   1.6rem;
  --supersize-1: calc(3 * var(--base-size) );
  --size-1:      calc(3 * var(--base-size) );
  --size-2:      calc(2.375 * var(--base-size) );
  --size-3:      calc(1.75 * var(--base-size) );
  --size-4:      calc(1.25 * var(--base-size) );
  --size-small:  calc(0.875 * var(--base-size) );

  @include mq('screenMd', max) {
    --base-size: 1.4rem;
  }

  //typo:

  --font-title:   'Patua One', sans-serif;
  --font-default: 'Mukta Mahee', sans-serif;

  //sizes:
  --spacing: 1rem;
}
