.ipdbtn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: transparent;
  border: .1rem solid;
  font-size: 1.8rem;
  padding: 2rem 1rem;

  @include mq('screenLg'){
    font-size: 2.5rem;
    padding: 2rem;
  }

  &--block {
    width: 100%;
  }

  &--white {
    border-color: var(--color-white);
    color: var(--color-white);
  }

  &--noclick {
    cursor: default;
  }

  &--small {
    font-size: 1.4rem;
    padding: 1rem .5rem;
  }
}
