.field {
  margin-bottom: 3rem;
  &_label {
    display: block;
    margin-bottom: .5rem;
  }

  input[type="email"], input[type="text"], input[type="password"],
  .textarea,
  &_input {
    font-size: 1.6rem;
    width: 100%;
    border: .1rem solid var(--color-white);

    @include mq('screenSm'){
      font-size: 2.5rem;
    }
  }
}

.textarea {
  display: block;
  resize: vertical;
  padding: 1rem;
}
