.hemeroteca {
  margin-top: calc(var(--spacing) * 4);
  @include mq('screenSm') {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc( 2*var(--spacing) );
  }

  &__group {
    background-color: var(--color-white);
    padding-bottom: var(--spacing);
    // height: 30rem;
    // overflow: hidden;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      bottom: 0;
      left: 0;
      height: 6rem;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);;
    }
  }

  &__title {
    color: var(--color-secondary);
    padding: var(--spacing);
    font-size: calc( 1.5*var(--spacing) );
    text-transform: uppercase;
  }

  &__items {
    padding: var(--spacing);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 30rem;
    margin-left: 2rem;
  }

  &__item {
    margin-bottom: calc( 2*var(--spacing) );
    margin-left: calc(2*var(--spacing));
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      left: calc(-2*var(--spacing));
      content: '●';
      color: var(--color-main);
      font-size: inherit;
    }
  }
}
