.list-simple {
  li {
    margin-bottom: 2rem;
  }
}

.list-pipe {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
    &:after {
      content: '|';
      padding-left: 1rem;
    }
  }
}
