.main-header {
  grid-column: 1 / -1;
  background: var(--color-white);

  @at-root .wrapfull--withheader & {
    padding: 0 var(--spacing);
  }

  &.fixed {
    @include mq('screenSm') {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      background: var(--color-white);
      box-shadow: -1px 8px 20px 0px rgba(0,0,0,0.5);
      z-index: 2;
    }

  }
  &__inside {
    @include mq('screenSm') {
      padding: calc( var(--spacing) * 1) calc( var(--spacing) * 4);
      display: grid;
      grid-template-columns: repeat(16, 1fr);
      // grid-column: 1 / -1;
      max-width: 114rem;
      margin: 0 auto;
      transition: font-size .3s linear;
      left: 0;
      top: 0;
    }
  }
}

.main-logo {
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  @include mq('screenSm') {
    grid-column: 1 / 10;
    margin-bottom: 2rem;
    align-self: center;
  }

  &__name {
    font-family: var(--font-title);
    color: var(--color-black);
    font-size: 5rem;
    line-height: .75;
    @include mq('screenSm') {
      font-size: 10rem;
      transition: font-size .6s linear;
      @at-root .fixed & {
        font-size: 5rem;
      }
    }
    div::first-letter {
      color: var(--color-secondary);
    }
  }
}
