.main-nav {
  @include mq('screenSm', max) {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
    border-top: .1rem solid var(--color-black);
    border-bottom: .1rem solid var(--color-black);
    padding: .5rem 0;
  }

  @include mq('screenSm') {
    grid-column-end: -1;
  }

  ul {
    display: flex;
    justify-content: space-between;
    @include mq('screenSm') {
      display: grid;
      grid-template-columns: 12rem 12rem;
      grid-gap: 1rem;
      grid-template-rows: 10rem 10rem;
      transition: all .2s linear;
      @at-root .fixed & {
        grid-template-columns: 6rem 6rem;
        grid-gap: .5rem;
        grid-template-rows: 5rem 5rem;
      }

      > *:first-child {
        grid-column: 1 / -1;
      }
    }
  }

  &__link {
    transition: background-color .2s linear;
    @include mq('screenSm', max) {
      color: var(--color-main);
    }

    @include mq('screenSm') {
      background-color: var(--color-main);
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    &--active {
      background-color: var(--color-secondary);
    }
  }

  a {
    font-size: 2.4rem;
    line-height: 1;
    font-family: var(--font-title);

    @include mq('screenSm') {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 5.2rem;
      color: var(--color-white);
      transition: all .2s linear;
      @at-root .fixed & {
        font-size: 2.5rem;
      }
    }
  }
}
