---
layout: column
---

<div class="container">
  <h1>Mi CV</h1>
  <h2 class="h2pilcrow">Aptitudes y conocimientos</h2>
  <ul class="aptitudes">
    <li>Media Relations</li>
    <li>Online Journalism</li>
    <li>New Media</li>
    <li>Magazines</li>
    <li>Spanish</li>
    <li>Journalism</li>
    <li>Online Advertising</li>
    <li>Corporate Communications</li>
    <li>Community Management</li>
    <li>SEO</li>
    <li>Social Media</li>
    <li>English</li>
    <li>Politics</li>
    <li>Stock Market</li>
    <li>Economy</li>
    <li>Money Market</li>
    <li>Banking</li>
  </ul>

  <h2 class="h2pilcrow">Experiencia profesional</h2>
  <ul>
    <li><span class="cv-fecha">Nov 2012/Actualidad </span><strong><a title="eldiario.es" href="http://www.eldiario.es" target="_blank">El Diario.es.</a></strong>&nbsp; Business and Financial contributor</li>
    <li><span class="cv-fecha">Mar&nbsp;2014/Actualidad</span>&nbsp;<strong>SModa. ElPaís</strong>&nbsp;Business contributor</li>
    <li><span class="cv-fecha">Apr 2012/Feb 2013</span> <strong>Financial Red &amp; Bolsa.com.</strong> Content manager</li>
    <li><span class="cv-fecha">Jul 2009/Mar 2012 </span><strong><a title="Publico.es" href="http://www.publico.es" target="_blank">Público.</a></strong>&nbsp;Business and Financial Staff writer</li>
    <li><span class="cv-fecha">Sep 2008/Feb 2009 </span><strong>Bolsacinco.com.</strong> Editor in chief</li>
    <li><span class="cv-fecha">Jan 2008/Sep 2008 </span><strong>El Economista, Emprendedores, XL El Semanal, Muy Interesante</strong>. Business Reporter</li>
    <li><span class="cv-fecha">Jun 2000/Dec 2007 </span><strong>Revista Capital.</strong> Director Assistant</li>
    <li><span class="cv-fecha">Apr 1998/May 2000 </span><strong>Injuve.</strong> Public Media Relations</li>
    <li><span class="cv-fecha">Aug-Sep 1998 </span><strong>Radio Nacional de España.</strong> Reporter</li>
    <li><span class="cv-fecha">Jul-Aug/1998 </span><strong>Agencia Efe.</strong> Reporter</li>
    <li><span class="cv-fecha">Feb 1996/Apr 1998 </span><strong>Martínez Cerezo &amp; Asociados</strong>. Public Relations</li>
    <li><span class="cv-fecha">May 1993/Jun-1995 </span><strong>Efecto Dominó.</strong> Public Relations</li>
    <li><span class="cv-fecha">Aug-Sep 1992 </span><strong>Onda Cero.</strong> Reporter</li>
  </ul>

  <h2 class="h2pilcrow">Educación</h2>
  <ul>
    <li><span class="cv-fecha">1997-1998</span> <strong>Univ. Complutense Madrid.</strong> Master Business Information.</li>
    <li><span class="cv-fecha">1997</span> <strong>Univ. Complutense Madrid.</strong> Master en Public Relations</li>
    <li><span class="cv-fecha">1991-1996</span> <strong>Univ. Complutense Madrid.</strong>&nbsp;Bachelor of Journalism</li>
  </ul>

  <h2 class="h2pilcrow">Reconocimientos</h2>
  <ul>
    <li>Finalista Premio Schroders de Periodismo Financiero 2006
      <img class="alignnone size-full wp-image-20" src="" alt="Pilar_Blazquez_premio_Schroders">Pilar
      Blázquez recoge el premio Schroders del año 2006</li>
  </ul>
</div>
