.grid-cv {
  @include mq('screenSm') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 4rem;
    > *:first-child {
      grid-row: 1 / -1;
    }
  }

  &__image-clipped {
    -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 0px, 100% 90%, 0px 100%);
  }
}
