.home-top {
  padding-top: var(--spacing);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: max-content auto  auto;
  grid-row-gap: 1rem;
  @include mq('screenSm') {
    grid-row-gap: 4rem;
    // height: 100vh;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: max-content auto auto auto;
    grid-row-gap: 4rem;
  }
  @include mq('screenMd') {
    padding: calc( var(--spacing) * 4 );
  }
}

.home-lead {
  grid-column: 1 / -1;
  @include mq('screenXs') {
    grid-column: 3 / 10;
  }
  @include mq('screenSm') {
    grid-column: 9 / 17;
    align-self: center;
  }
}

.home-pb {
  grid-column: 1 / -1;
  @include mq('screenXs') {
    grid-column: 1 / 2;
  }
  @include mq('screenSm') {
    align-self: center;
    grid-column: 2 / 8;
  }

  figure {
    background: var(--color-main);
    -webkit-clip-path: polygon(93.27% 94.93%, 6.25% 94.63%, 1.35% 17px, 89.42% 5.43%);
    clip-path: polygon(93.27% 94.93%, 6.25% 94.63%, 1.35% 17px, 89.42% 5.43%);
    box-shadow: inset -18px -20px 15px 10px rgba(245, 176, 237, 0.58);
  }

  &__img {
    -webkit-clip-path: polygon(79.32% 50.05%, 89.93% 5.01%, 4.5% 8.11%, 14.26% 51.8%, 7.29% 95.12%, 89.58% 89.65%);
    clip-path: polygon(79.32% 50.05%, 89.93% 5.01%, 4.5% 8.11%, 14.26% 51.8%, 7.29% 95.12%, 89.58% 89.65%);
  }
}



.home-social {
  @include mq('screenSm') {
    grid-column-end: -1;
  }
}

.home-post {
  padding: calc( var(--spacing) * 2 ) 0;

  @include mq('screenSm') {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax( calc(33.3% - 2rem) ,1fr));
  }

  > li:only-child {
    grid-column: 1 / -1;
    @include mq('screenSm') {
      grid-column: 2;
    }
  }

  article {
    height: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0,0,0,.2);
    color: var(--color-black);
    transition: box-shadow .2s linear;
    margin-bottom: 2rem;
    &:hover {
      box-shadow: 5px 5px 5px rgba(0,0,0,.3)
    }
  }
}
