//************************
//    VARIABLES
//************************
$gl-colCount:   12 !default;
$gl-gridName:   ipdgrid !default;
$gl-colName:   ipdcol !default;
$gl-attributeName: class !default;
$gl-gutter:    1rem !default; // Total left + right
$gl-gutter-vertical:    1rem !default;
$gl-mq-width: 'max-width' !default;
$gl-mq-width-min: 'min-width' !default; //Add by Novutrip
$gl-mq-list: (
        lg: 1280px,
        md: 1024px,
        sm: 768px,
        xs: 576px
) !default;
